<!-- 
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">
        <div class="card">

          <div class="image">
            <img src="./../../assets/php.jpg" width="50%">
          </div>

          <div class="text">
            
            <div class="fab">&#43;</div>

            <h3>Descrição da funcionalidade deve vir abaixo do título do caso de uso.</h3>
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</p>

          </div>

        </div>
      </div>
    </div>
  </div> -->


<div class="container">
    <div class="row">
        <div class="card col-md-4">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/php.jpg" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start PHP Today</div>

                        <button type="button" class="btn btn-success btn-lg">Read</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="card card-1 col-md-4">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/angular.png" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start Angular Today</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card card-2 col-md-4">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/node.png" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start Nodejs Today</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-3">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/php.jpg" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start PHP Today</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-4">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/php.jpg" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start PHP Today</div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" card card-5">
            <div class="">
                <div class="image">
                    <img src="./../../../assets/php.jpg" alt="IMG">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start PHP Today</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>