<div class="container">
    <div *ngFor="let course of courses">
        <div class="card col-md-4">
            <div class="">
                <div class="image">
                    <img src="{{course.path}}" alt="IMG" width="270">
                    <div class="overlay">
                        <div class="text" style="font-weight:bold">Start {{test}} Today</div>
                        <button style="position:relative;margin:80% 38%;font-size:14px;" type="button" class="btn btn-primary btn-lg"(click)="read(course.coursename)">Read</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>